<po-modal
    p-title="Selecione um registro"
    p-size="lg"
    [p-primary-action]="actions().primary"
    [p-secondary-action]="actions().secondary"
>
    @if (lookupSrv.configured()) {
        <thf-lookup-data
            #lookupData
            name="lookupData"
            [ngModel]="selectedValue()"
            [ngModelOptions]="{ standalone: true }"
            [t-filter-service]="lookupSrv"
            [t-disabled]="lookupSrv.loading()"
            [t-field-label]="lookupSrv.keyProperty()"
            [t-field-value]="lookupSrv.keyProperty()"
            [t-columns]="lookupSrv.columns()"
            [t-multiple]="multiValue()"
            [t-height]="450"
            (ngModelChange)="onSelected($event)"
        />
    }
</po-modal>
