<po-modal
    p-title="Selecione um registro"
    p-size="lg"
    [p-primary-action]="actions().primary"
    [p-secondary-action]="actions().secondary"
>
    @if (this.lookupSrv.configured()) {
        <thf-lookup-data
            name="lookupDataSingle"
            [t-filter-service]="lookupSrv"
            [t-disabled]="lookupSrv.loading()"
            [t-field-label]="lookupSrv.keyProperty()"
            [t-field-value]="lookupSrv.keyProperty()"
            [t-columns]="lookupSrv.columns()"
            [t-multiple]="multiValue"
            [t-height]="450"
            (t-selected)="onSelected($event)"
        />
    }
</po-modal>
