<po-modal
    p-title="Selecione um registro"
    p-size="lg"
    [p-primary-action]="actions().primary"
    [p-secondary-action]="actions().secondary"
>
    @if (lookupService.configured()) {
        <thf-lookup-data
            #lookupData
            name="lookupData"
            [ngModel]="selectedValue()"
            [ngModelOptions]="{ standalone: true }"
            [t-filter-service]="lookupService"
            [t-disabled]="lookupService.loading()"
            [t-field-label]="lookupService.keyProperty()"
            [t-field-value]="lookupService.keyProperty()"
            [t-columns]="lookupService.columns()"
            [t-multiple]="multiValue()"
            [t-height]="450"
            (ngModelChange)="onSelected($event)"
        />
    }
</po-modal>
