node-options=--max-old-space-size=8196

registry=https://registry.npmjs.org/

@thf:registry=https://npm.totvs.io/
@totvs:registry=https://npm.totvs.io/
@totvs-oidc-ng:registry=https://npm.totvs.io
@totvs-apps-components:registry=https://npm.totvs.io
@smart-ui:registry=https://npm.totvs.io
