:host-context([data-a11y=AA]) {
    .tag-container:not(.expanded) {
        max-height: 32px;
        min-height: 32px;
    }

    .tag-wrapper {
        padding-block: 3px;
    }

    .remove-all {
        font-size: 1rem;
    }
}

.tag-overflow {
    width: 100%;
    display: flex;
    align-items: stretch;

    &:focus-visible {
        outline: none;
    }

    &:focus-within .tag-container {
        border-color: var(--color-action-default);
    }
}

.tag-container {
    border: var(--border-width-sm) solid var(--color-neutral-light-30);
    border-radius: var(--border-radius-md);
    width: 100%;
    min-height: 32px;
    max-height: 32px;
    overflow: hidden;
    position: relative;

    &.expanded {
        max-height: unset;
    }
}

.tag-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    padding: 11px;
    padding-right: 36px;
    overflow: hidden;
    // min-width: 300px;

    &.expanded {
        flex-wrap: wrap;
        overflow: visible;
    }
}

.tag-item {
    flex-shrink: 1;
}

.more-tag {
    cursor: pointer;
}

.empty-state {
    opacity: 0.6;
    font-family: var(--font-family-theme);
    font-size: var(--font-size-default);
    user-select: none;
}

.tag-entry {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#autocomplete-input {
    background-color: var(--background);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
    flex-grow: 1;
    width: 20px;

    &:focus-visible {
        outline: none;
    }
}

.remove-all {
    background: transparent;
    color: var(--color-action-default);
    appearance: none;
    border: none;
    padding: 8px;
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}

// @media screen and (max-width:1024px) {
//     .tag-wrapper {
//         min-width: 225px;

//         &.expanded {
//             max-width: 225px;
//         }
//     }
// }
