<thf-lookup hidden t-field-label="hidden" aria-hidden="true" tabindex="-1" />

<po-field-container [p-label]="label()" [p-disabled]="isDisabled()" [p-size]="size()">
    <div cdkoverlayorigin class="po-field-container-content" [attr.p-size]="size()">
        <div class="thf-lookup-input">
            <div class="po-field-container-content-helper-wrapper">
                <div
                    class="po-field-container-input"
                    [style.cursor]="isDisabled() ? 'not-allowed' : 'unset'"
                >
                    @if (multiValue()) {
                        <div
                            class="thf-input po-input-icon-left po-lookup-input po-icon-input thf-lookup-input-element"
                            [class.thf-input-aa]="isCompact()"
                            [class.po-lookup-input-static]="!isExpanded()"
                            [class.po-lookup-input-auto]="isExpanded()"
                            [class.po-lookup-input-static-aa]="!isExpanded() && isCompact()"
                            [class.po-lookup-input-auto-aa]="isExpanded() && isCompact()"
                            [class.po-input-icon-left-aa]="isCompact()"
                            [class.po-lookup-input-aa]="isCompact()"
                            [class.po-lookup-input-disabled]="isDisabled()"
                            [class.thf-lookup-input-readonly]="readonly()"
                            tabindex="0"
                            (click)="focusInput()"
                        >
                            <div class="container-static-lookup" #disclaimerContainer>
                                @for (disclaimer of visibleDisclaimers(); track disclaimer.value) {
                                    <div #disclaimerItem class="po-lookup-input-disclaimer-item">
                                        <po-disclaimer
                                            class="po-lookup-input-disclaimer thf-lookup-disclaimer"
                                            [p-value]="disclaimer.value"
                                            [p-hide-close]="!isInteractive()"
                                            (p-close-action)="removeDisclaimer(disclaimer)"
                                        />
                                    </div>
                                }

                                @if (!isExpanded() && hiddenDisclaimerCount() > 0) {
                                    <div
                                        class="po-lookup-input-disclaimer-item"
                                        [class.po-clickable]="isInteractive()"
                                        (click)="expandDisclaimers()"
                                    >
                                        <po-disclaimer
                                            class="po-lookup-input-disclaimer thf-lookup-disclaimer"
                                            [p-value]="'+' + hiddenDisclaimerCount()"
                                            [p-hide-close]="true"
                                        />
                                    </div>
                                }

                                <input
                                    #inputElement
                                    [id]="inputId"
                                    name="input-static"
                                    type="text"
                                    class="input-lookup-static"
                                    [class.po-lookup-input-disabled]="isDisabled()"
                                    [formControl]="inputValueControl"
                                    [attr.readonly]="readonly() ? '' : null"
                                    [attr.maxlength]="maxlength()"
                                    [attr.inputmode]="type() === 'number' ? 'numeric' : 'text'"
                                    [attr.pattern]="type() === 'number' ? '[0-9]*' : null"
                                    autocomplete="off"
                                    (keydown)="onInputKeydown($event)"
                                    (input)="onInput($event)"
                                    (focus)="expandDisclaimers()"
                                    (focusout)="collapseDisclaimers()"
                                    (blur)="onInputBlur()"
                                >
                            </div>
                        </div>
                    } @else {
                        <input
                            #inputElement
                            [id]="inputId"
                            type="text"
                            class="thf-input po-input-icon-left thf-lookup-input-element"
                            [class.po-input-icon-right]="isLoading() || shouldShowClearButton()"
                            [class.po-input-icon-left-aa]="isCompact()"
                            [class.po-input-icon-right-aa]="isCompact() && (isLoading() || shouldShowClearButton())"
                            [class.po-lookup-input-disabled]="isDisabled()"
                            [class.thf-lookup-input-readonly]="readonly()"
                            [formControl]="inputValueControl"
                            [attr.readonly]="readonly() ? '' : null"
                            [attr.maxlength]="maxlength()"
                            [attr.inputmode]="type() === 'number' ? 'numeric' : 'text'"
                            [attr.pattern]="type() === 'number' ? '[0-9]*' : null"
                            autocomplete="off"
                            (input)="onInput($event)"
                            (blur)="onInputBlur()"
                        >
                    }

                    <div
                        class="po-field-icon-container-right"
                        [class.po-clickable]="!isDisabled()"
                        [class.thf-icon-not-allowed]="isDisabled()"
                    >
                        @if (isLoading()) {
                            <po-loading-icon [p-size]="isCompact() ? 'xs' : 'sm'" />
                        } @else if (shouldShowClearButton()) {
                            <po-icon
                                p-icon="ICON_CLEAR_CONTENT"
                                class="thf-field-icon po-icon-input"
                                [class.thf-field-icon-aa]="isCompact()"
                                tabindex="0"
                                (click)="clearValue()"
                            />
                        }
                    </div>

                    <div
                        class="po-field-icon-container-left"
                        [style.pointer-events]="isInteractive() ? 'all' : 'none'"
                    >
                        <po-icon
                            p-icon="ICON_SEARCH"
                            class="po-field-icon"
                            [class.po-icon-input]="!isDisabled()"
                            [class.po-field-icon-aa]="isCompact()"
                            [class.po-field-icon-disabled]="isDisabled()"
                            (click)="modal.open()"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</po-field-container>

<lookup-modal #modal [serviceUrl]="serviceUrl()" [multiValue]="multiValue()"/>
