<div style="width: 300px">
    <po-button
        class="po-mb-2 po-mr-1"
        p-label="Modificar"
        (p-click)="onModify()"
    />

    <po-radio-group [(ngModel)]="radioValue" [p-options]="radioOptions"></po-radio-group>

    <po-button
        class="po-mb-2"
        p-label="Trocar tema"
        (p-click)="toogleTheme()"
    />

    <lookup
        [loading]="radioValue === 'loading'"
        [disabled]="radioValue === 'disabled'"
        [readonly]="radioValue === 'readonly'"
        [clean]="radioValue === 'clean'"
        [maxlength]="undefined"
        [multiValue]="false"
        [type]="'string'"
    />

    <form [formGroup]="formMission">
        <thf-lookup
            formControlName="lookup2"
            name="lookupMultiple"
            t-field-label="name"
            t-field-value="value"
            t-filter-service="https://po-sample-api.onrender.com/v1/heroes"
            t-key-last-search="lookupMultiple"
            t-label="Heróis"
            t-placeholder="Placeholder multiple"
            [t-columns]="columns"
            [t-grid-properties]="gridProperties"
            [t-keys-label]="keysLabel"
            [t-multiple]="false"
            [t-disabled]="radioValue === 'disabled'"
            [t-readonly]="radioValue === 'readonly'"
            [t-clean]="true"
            [t-filter-search-select]="filterSelect"
        ></thf-lookup>
    </form>
</div>
